*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: gray;
}
/*-------- Parent------------------ */
.Parent {
    height: 40rem;
    width: 45rem;
    border: 2px solid gray;
    box-shadow: 5px 10px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------Child----------------------------- */
.child {
    text-align: center;
}
/* ------------------TextBook Logo----------------------------- */
.logo img{
    height: 120px;
     width: 120px;
}
/* ------------------Welcome Note----------------------------- */
.welcome_note h1{
    color: blue;
}
.welcome_note h5{
    color: black;
}
/*-------- Style for input box------------------ */
input[type=text] {
    padding-left: 10px;
    width: 75%;
    height: 2rem;
    border-radius: 8px;
    border-color: gray;
    box-shadow: -2px -2px 2px rgb(182, 179, 179) inset;
    
}
/*-------- Disable radio button circle------------------ */
input[type="radio"] {

   display: none;

}
/* ------------------Enter Button ----------------------------- */
.Enter{
    background-color:  rgb(27, 145, 255);
                color: white;
                border-radius: 5px;
                box-shadow: 5px 5px 5px gray;
                margin-left: 1rem;
                width: 6rem;
                height: 2rem;
                box-shadow: 5px 5px 5px gray;
                height: 2rem;
            
} 
/* ------------------Category Selection----------------------------- */
.Select_Cat h1{
    color: blue;
}
/*-------- to style label of radio button------------------ */
label {
    border: 2px solid gray;
    border-radius: 10px;
    font-size: large;
    padding: 5px 60px 5px 60px;
    background-color: blue;
    box-shadow: 5px 5px 5px gray;
    color:white;
}
/*-------- Change the Colour after Selection------------------ */
input[type="radio"]:checked+label {
    background-color: rgb(27, 145, 255);
    color: white;
}

/*-------- Grid Sizing------------------ */
.button {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 4rem;
    row-gap: 2rem;
}

